@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Strona z produktami</h1>
    <p>Dodaj/Usun/Edytuj</p>
    <p>
        <a class="btn btn-primary" asp-controller="Products" asp-action="Index">Zobacz produkty</a>
    </p>
</div>
